/* global.css */

/* Header */
header {
  background-color: #005f73;
  color: #ffffff;
  padding: 0.5em 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

header img {
  margin-right: 10px;
}

nav {
  flex-grow: 1;
  margin-left: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #94d2bd;
}

.cta-button {
  background-color: #94d2bd;
  color: #005f73;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #005f73;
  color: #ffffff;
}

/* Footer */
footer {
  padding: 2em;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-top: 2px solid #005f73;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin: 1em 0 0 0;
}

footer .footer-content {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
}

footer .locales-contacto,
footer .horario_atencion {
  text-align: left;
  margin-top: 1em;
}

footer .locales-contacto h3,
footer .horario_atencion h3 {
  margin-bottom: 0.5em;
}

footer .locales-contacto p,
footer .horario_atencion p {
  margin: 0.5em 0;
}

footer .footer-bottom {
  margin-top: 2em;
  text-align: center;
}

footer .social-icons {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 0.5em 0;
}

footer .social-icons img {
  width: 35px;
  height: 35px;
}
